.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.gallery__block1, .gallery__block2, .gallery__block3, .gallery__block4, .gallery__block5, .gallery__block6{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px; 
    margin-bottom: 50px;
    justify-content: space-around;
    color: gray;
    font-weight: 700;
    text-align: center;
}
.negro{
    color: black;
}
.gallery__block6{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px; 
    margin-bottom: 50px;
    justify-content: flex-start;
    margin-left: 130px;
    }
.box__img{
    height: 470px;
    width: 350px;
    }
.box__img img{
    width: 90%;
    height: 85%
}

.box__img6{
    height: 470px;
    width: 350px;
}
.box__img6 img{
    width:90%;
    height: 85%;
}

